/* Global styles */
/*
html,
body,
#root {
  height: 100vh;
}

body {
  overflow: hidden;
}

.page {
  min-height: 100vh;
}

.page-header {
  height: 128px;
  flex: 0 0 auto;
  z-index: 1;
  position: sticky;
  top: 0;
}

.page-header .dropdown-menu {
  max-height: 73vh;
  overflow-y: auto;
}

.page-content {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
  margin-bottom: 90px;
} */
